<!DOCTYPE html>
<html>
<head>
  <%- partial('_partials/head') %>
</head>
<body
  <% if (theme.monochrome) { %>
    class="monochrome"
  <% } %>
  >
  <%- partial('_partials/mobile-header', {}, {cache: true}) %>
  <div class="main-container">
    <%- partial('_partials/sidebar', {}, {cache: true}) %>
    <div class="main-content">
      <ins class="adsbygoogle"
        style="display:inline-block;width:728px;height:90px"
        data-ad-client="ca-pub-2592278084631591"
        data-ad-slot="8047795849"></ins>
      <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
      <% if (theme.maxContentWidth) { %>
        <div style="max-width: <%= theme.maxContentWidth %>">
      <% } %>
          <%- body %>
          <%- partial('_partials/footer', {}, {cache: true}) %>
      <% if (theme.maxContentWidth) { %>
        </div>
      <% } %>
    </div>
  </div>
  <%- partial('_partials/scripts', {}, {cache: true}) %>

  <!-- https://github.com/bobcn/hexo_resize_image.js -->
  <script src="scripts/hexo_resize_image.js"></script>
</body>
</html>
