<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>">
  <% if (post.link || post.title){ %>
    <h1 class="article-header">
      <%- post.title %>
    </h1>
  <% } %>
  <%- partial('post/gallery') %>
  <div class="article-info">
    <%- partial('post/date') %>
    <%- partial('post/category') %>
    <%- partial('post/tag') %>
  </div>
  <div class="article-entry">
    <%- post.content %>
  </div>
  <ins class="adsbygoogle"
    style="display:block; text-align:center;"
    data-ad-layout="in-article"
    data-ad-format="fluid"
    data-ad-client="ca-pub-2592278084631591"
    data-ad-slot="1562278541"></ins>
  <footer class="article-footer">
    <%- partial('post/cc') %>
    <%- partial('post/jiathis') %>
  </footer>
</article>

<%- partial('post/duoshuo') %>
<%- partial('post/disqus') %>
